@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 0.5rem;
    filter: blur(5.00);
    background: linear-gradient(145deg, #1e4032, #2e2e2e, #80c0a4);
    font-family: "Roboto", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    color: #f7e9d7 ;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

span, p, time {
    color: #FFFFFF;
}


/* Stystème de grille pour le mise en forme */

header,nav,section,article,footer {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1); /* transparent glassy white */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

/* Paramètrage du header */

header img {
    width: 6rem;
    height: auto;
    transition: 0.25s;
    border-radius: 50%;
}

header img:hover {
    transform: scale(1.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1); /* transparent glassy white */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

header:hover {
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

header {
    grid-area: 1 / 1 / 2 / 7;
    border-radius: 0 0 10px 10px;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pramètrage de la navigation */

nav {
    grid-area: 2 / 5 / 6 / 6;
    border-radius: 10px;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-weight: 700;
}

nav ul {
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
}

nav ul li {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

nav a {
    text-decoration: none;
    transition: 0.25s;
}

nav a:hover {
    border-radius: 10px;
    text-shadow: 0 0 20px black;
    transform: scale(1.50);
    
}

/* nav h2 {
    color: #226D68;
    font-size: 2rem;
} */


nav:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale3d(1.2, 1.2, 1.5);
}


/* Pramètrage de la section */

section {
    grid-area: 2 / 6 / 6 / 7;
    margin: 0 0.5rem 0 0;
    border-radius: 10px;
    transition: 0.25s;
}

section h2 {
    font-size: 2rem;
}

section h3, section h4 {
    text-decoration: underline;
}

section:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-infos {
    padding: 1rem;
}

.container-boutons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.25rem;
}

.bouton-style:hover {
    transform: scale3d(1.05, 1.05, 1.05) rotateX(2deg) rotateY(2deg);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 0 20px rgba(76, 175, 80, 0.6);
}




/* Paramètrage de l'article */
.article-index {
    grid-area: 2 / 1 / 6 / 5;
    margin: 0 0 0 0.5rem;
    border-radius: 10px;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #226D68;
    font-size: 1.5rem;
}

.article-index img {
    width: 47.5%;
    height: 90%;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1); /* transparent glassy white */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.img-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-bottom: 1rem;
}

strong {
    text-transform: capitalize;
}

article:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* Pramètrage du footer */
footer {
    grid-area: 6 / 1 / 7 / 7;
    border-radius: 10px 10px 0 0;
    transition: 0.25s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Paramètrage des avis */

.avis-client {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100px;
    font-size: 0.6rem;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1); /* transparent glassy white */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-style: preserve-3d;
    
}

.avis-client:hover {
    transform: scale3d(1.05, 1.05, 1.05) rotateX(2deg) rotateY(2deg);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.avis-client img{
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.star-container {
    display: flex;
    gap: 1%;
}

.star-child {
    display: flex;
}

/* Class personnalisées */

.text-center {
    text-align: center;
}

.grass {
    font-weight: bold;
}

.capitalize {
    text-transform: capitalize;
}

.link-style {
    text-decoration: none;
    color: #FFFFFF;
}

.bouton-style {
    text-decoration: none;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1); /* transparent glassy white */
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    transition: 0.25s;
    color: white;
}

.text-shadow {
    text-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.select {
    transform: scale(1.12)
}

.absolute-position {
    position: absolute;
    bottom: 0;
    margin-bottom: 3%;
}

.underline {
    text-decoration: underline;
}

.img-red-wine {
    background: linear-gradient(to bottom right, #4b0e0e, #8a1c1c, #b33f3f);
    border-radius: 56% 44% 70% 30% / 30% 40% 60% 70%; 
    height: 5rem;
    padding: 2rem;
    transition: 1.00s ease;
}

.img-white-wine {
    background: linear-gradient(to bottom right, #fdf6e3, #f7e8b8, #e5c07b);
    border-radius: 56% 44% 70% 30% / 30% 40% 60% 70%; 
    height: 5rem;
    padding: 2rem;
    transition: 1.00s ease;
}

.img-pink-wine {
    background: linear-gradient(to bottom right, #ffe4ec, #f8b5c8, #f295b5);
    border-radius: 56% 44% 70% 30% / 30% 40% 60% 70%; 
    height: 5rem;
    padding: 2rem;
    transition: 1.00s ease;
}

.img-beer-pression {
    background: linear-gradient(to bottom right, #fdf3c0, #f7d774, #d4a82c);
    border-radius: 56% 44% 70% 30% / 30% 40% 60% 70%; 
    height: 5rem;
    padding: 2rem;
    transition: 1.00s ease;
}

.img-beer-bottle {
    background: linear-gradient(to bottom right, #8c4b08, #bf6f19, #d99a3e);
    border-radius: 56% 44% 70% 30% / 30% 40% 60% 70%; 
    height: 5rem;
    padding: 2rem;
    transition: 1.00s ease;
}

.img-beer-artisanal {
    background: linear-gradient(to bottom right, #b57b17, #d9a441, #f2c94c);
    border-radius: 56% 44% 70% 30% / 30% 40% 60% 70%; 
    height: 5rem;
    padding: 2rem;
    transition: 1.00s ease;
}

.img-beer-noalcool {
    background: linear-gradient(to bottom right, #e0f7fa, #a7e8fd, #70cfff);
    border-radius: 56% 44% 70% 30% / 30% 40% 60% 70%; 
    height: 5rem;
    padding: 2rem;
    transition: 1.00s ease;
}

/* __________________LOC.HTML__________________ */


.article-loc {
    grid-area: 2 / 1 / 6 / 5;
    margin: 0 0 0 0.5rem;
    border-radius: 10px;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #226D68;
    font-size: 1.5rem;
}

iframe {
    height: 80%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* __________________CARTE.HTML__________________ */

.article-card {
    grid-area: 2 / 1 / 6 / 5;
    margin: 0 0 0 0.5rem;
    border-radius: 10px;
    transition: 0.25s;
    overflow-y: scroll;
    background-color: #fdf8f2;
    background: linear-gradient(to bottom right, #1a1a1a, #2e2e2e);
    color: #f7e9d7;
    scroll-behavior: smooth;
}

.article-card h1 {
    font-size: 2rem;
}

.section-card img {
    height: 20px;
}

.dish {
    font-size: 1.5rem;
    text-decoration: underline;
}

.dish time,.dish {
    color:#f7e9d7;
}

.price {
    transform: rotate(-45deg);
    position: absolute;
    margin-left: 0.5rem;
}

.section-card-wine {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
}

.wine-card {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
    
}

.wine-card:hover {
    transform: scale(1.08);
}

.wine-card .wine-title, .wine-card i, .wine-card p, .wine-card b {
    margin-bottom: 0;
    font-size: 0.8rem;
}

.wine-title {
    display: flex;
    flex-direction: row;
}

.animation-background:hover {
    border-radius: 67% 33% 81% 19% / 34% 61% 39% 66%;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.8); /* transparent glassy white */
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
}

/* __________________ABOUT.HTML__________________ */

.article-about {
    grid-area: 2 / 1 / 6 / 5;
    margin: 0 0 0 0.5rem;
    border-radius: 10px;
    transition: 0.25s;
    background-image: url("image/dd5794f7-80a8-4e25-b9ac-209a62ef7175.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    /* width: 100%; */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(24, 24, 24, 0.164); /* transparent glassy white */
    border-radius: 10px;
    
}

.about-settings p {
    width: 80%;
    line-height: 2.0;
    font-weight: 800;
}

.about-settings div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.logo-reseaux img {
    transition: 0.25s ease;
    filter: grayscale(1);
}

.logo-reseaux img:hover {
    transform: scale(1.30) rotate(-45deg);
    filter: none;
}

.logo-size {
    height: 30px;
}

/* __________________RESERVATIONS.HTML__________________ */

.article-reserv {
    grid-area: 2 / 1 / 6 / 5;
    margin: 0 0 0 0.5rem;
    border-radius: 10px;
    transition: 0.25s;
}




